<div *ngIf="isLoading">
  <app-loading></app-loading>
</div>
<div class="w-2/4 mx-auto p-2 text-center text-md">

  <p class="text-md">
    You selected
  </p>
  <p class="font-bold">
    {{originalCheckIn | date: 'dd/MM/yyyy' }} - {{originalCheckOut | date: 'dd/MM/yyyy'}}
  </p>
  <p>
    We found <span class="font-bold"> {{ rooms.length }} rooms </span> that
    match your dates
  </p>
  <div class="flex justify-center">
    <!-- TODO Modal here -->
    <p class="mr-auto border-[1px] border-white hover:border-blue-500 w-[130px] p-2 rounded hover:cursor-pointer">
      Update them here
    </p>
  </div>
</div>
<div class="text-center mx-auto">
</div>
<div *ngFor="let room of rooms">
  <app-room [room]="room"></app-room>
</div>