<footer class="border-t-[1px]">
    <div class="mt-2 text-center">
        <p>
            &copy; James Ide 2022
        </p>
        <label for="read-me" class="pb-2 hover:font-bold hover:cursor-pointer">Read Me</label>
        <input type="checkbox" id="read-me" class="modal-toggle" />
        <div class="modal">
            <div class="modal-box">
                <p class="font-bold text-lg">HiddenVilla</p>
                <p class="py-2">
                    A mobile-first hotel booking website where users can place bookings for rooms, make payments with
                    Stripe, and
                    login/register their details for a profile.
                </p>
                <p className="py-2">
                    This project was created with the following: Angular, Node, Express, Prisma and PlanetScale. Other
                    tech used includes MaterialUI, DaisyUI, TailwindCSS and Stripe. This is a fullstack TypeScript
                    application.
                </p>
                <p className="py-2">
                    This was my first big project with Angular, Prisma and PlanetScale (serverless SQL), which provided
                    me the
                    opportunity to nail in concepts about data fetching, user authentication with access, refresh tokens
                    and cookies, and get the feel of developing a mobile-first application with the eventual goal of
                    turning it into a PWA.
                </p>
                <p className="py-2">
                    You can find the source code by clicking on this
                    <a href="https://github.com/JamesIde/tudorscale" target="_#"
                        className="pl-1 font-bold hover:font-bold">
                        link.
                    </a>

                </p>
                <p className="py-2">
                    You can find more information about me on this
                    <a href="https://jamesaide.com/" target="_#" className="font-bold pl-1">
                        website,
                    </a>
                    or connect with me on
                    <a href="https://www.linkedin.com/in/james-ide-a92368180/" className="font-bold" target="_#">
                        Linkedin.
                    </a>
                </p>
                <div class="modal-action">
                    <label for="read-me" class="btn hover:cursor-pointer">Close</label>
                </div>
            </div>
        </div>
    </div>
</footer>