<div class="h-[90vh]">

  <div *ngIf="isLoading">
    <app-loading></app-loading>
  </div>
  <div class="xl:w-3/4 md:w-2/4 w-full mx-auto p-2 h-[90vh]" *ngIf="!isLoading">
    <div class="xl:w-1/2 w-full mx-auto">
      <p class="text-xl text-center font-bold">Recent Bookings</p>
      <table class="table-auto w-full mx-auto p-2">
        <thead class="text-left">
          <tr>
            <th>
              Order
            </th>
            <th>
              Check In
            </th>
            <th>
              Check Out
            </th>
            <th>
              Total
            </th>
            <th>

            </th>
          </tr>
        </thead>
        <tbody *ngFor="let booking of userProfile.Booking; index as i" [attr.data-index]="i">
          <tr>
            <td class="border-b-2">
              {{booking.bookingId}}
            </td>
            <td class="border-b-2">
              {{booking.checkIn}}
            </td>
            <td class="border-b-2">
              {{booking.checkOut}}
            </td>
            <td class="border-b-2">
              ${{booking.totalCost}}
              <!-- {{booking.bookedRoom.name}} -->
            </td>
            <td class="border-b-2 pb-4 pt-4">
              <label
                class="modal-button bg-purple-500 p-2 mt-2 mb-3 w-full text-white rounded hover:bg-purple-800 duration-500 hover:cursor-pointer"
                [routerLink]="['/profile/booking', booking.paymentID]">
                View </label>
            </td>
          </tr>
          <input type="checkbox" id="my-modal" class="modal-toggle" />

        </tbody>
      </table>
    </div>
  </div>
</div>