<section id="date-picker">
  <div class="image">
    <form [formGroup]="datePickerForm" (ngSubmit)="handleSubmit()" class="form">
      <div class="w-max mx-auto">
        <p class="text-center text-3xl text-white">
          Hidden Villa
        </p>
        <p class="text-center text-sm text-white">
          Find your dream booking today
        </p>
        <div class="flex flex-col gap-2">
          <div>
            <mat-form-field appearance="fill">
              <mat-label class="text-md text-white">Enter your dates</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" [min]="minDate" [max]="maxDate" class="text-input"
                  formControlName="checkIn" />
                <input matEndDate placeholder="End date" [min]="minDate" [max]="maxDate" formControlName="checkOut"
                  class="text-input" />
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker" class="text-white"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-form-field text-white work" appearance="fill">
              <mat-label class="text-white">Number of Guests</mat-label>
              <input matInput type="number" formControlName="NoGuests" min="1" />
            </mat-form-field>
          </div>
        </div>
        <div class="text-center">
          <button mat-raised-button color="accent" type="submit" [disabled]="datePickerForm.invalid" class="text-white">
            Check Availability
          </button>
        </div>
      </div>
    </form>
  </div>
</section>