.image{
    height:92.3vh; background-size:cover; width:auto;
    background-image:url('../../../../assets/hotelvilla.webp');
    background-position:50% 50%;
  }

  .form{
    padding: 35px;
    border-radius: 5px;
    background-color: rgba(104, 159, 187, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .text-input{
    color: white!important;
  }

  .work{
    width: 256px!important;
  }
  
  .mat-input-element{
    color:white
  }