<app-header></app-header>
<router-outlet></router-outlet>
<!-- <app-</app-> -->
<!-- <ul>

  <li>Register Pages</li>
  
  <li>Prevent unAuth user accessing Users page if theres no token. Do this to child routes</li>
  <li>If not logged in, auto redirect to login</li>
  <li>Extend to add a user page, so it becomes a child route of user</li>
</ul>

<p>
  Have an empty path that redirects to the todos page
  Then a /todos path, that points to TodoComponent,
  But has the AuthGuard, access Behavour User Subject,
  Checks if User exists, OTHERWISE redirect using router
  to /auth,
  attach AuthGuard in routing
</p> -->

<!-- <li>auto login</li> -->
<!-- <li>User can click between auth and user page</li> -->