<div class="mx-auto xl:w-1/4 md:w-2/4 w-3/4 p-2 xl:pl-2 md:pl-4 align-middle h-[84vh]">
    <div class="py-12">
        <h2 class="text-2xl font-bold">Login</h2>
        <div class="mt-8 max-w-md">
            <div class="text-center font-bold" *ngIf="isError">
                {{error}}
            </div>
            <div class="text-center" *ngIf="isLoading">
                <app-loading></app-loading>
            </div>
            <div class="grid grid-cols-1 gap-6">
                <form [formGroup]="userForm" (ngSubmit)="handleSubmit()">
                    <label class="block">
                        <span class="text-gray-700">Email</span>
                        <input type="email" class="
                  mt-0
                  block
                  w-full
                  px-0.5
                  border-0 border-b-2 border-gray-200
                  focus:ring-0 focus:border-black
                " placeholder="" formControlName="email" />
                    </label>
                    <div *ngIf="userForm.get('email').invalid && userForm.get('email').touched ">
                        <span class="text-sm text-gray-500">
                            Email is required
                        </span>
                    </div>
                    <!-- <div *ngIf="userForm.get('email').errors['required'] && userForm.get('email').touched ">
                        <span class="text-sm text-gray-500">
                            Email is required
                        </span>
                    </div> -->
                    <label class="block">
                        <span class="text-gray-700">Password</span>
                        <input type="password" class="
                  mt-0
                  block
                  w-full
                  px-0.5
                  border-0 border-b-2 border-gray-200
                  focus:ring-0 focus:border-black
                " formControlName="password" />
                    </label>
                    <div *ngIf="userForm.get('password').invalid && userForm.get('password').touched ">
                        <span class="text-sm text-gray-500">
                            Password is required
                        </span>
                    </div>
                    <div class="text-center">
                        <button type="submit"
                            class=" bg-purple-500 p-2 pl-20 pr-20 mt-4 w-full text-white font-bold w-max-md  rounded"
                            [disabled]="userForm.invalid">
                            LOGIN
                        </button>
                    </div>
                </form>
                <p class="text-center">
                    Don't have an account?
                </p>
                <button type="submit"
                    class=" bg-purple-900 pl-20 pr-20 p-2 text-white font-bold w-max-md  rounded hover:cursor-pointer "
                    [routerLink]="['/register']">
                    REGISTER
                </button>
            </div>
        </div>
    </div>
</div>